<section class="header-container">
    <mat-toolbar>


        <div class="header-container__right">
            <button mat-icon-button class="notifications" aria-label="Icone de notificações"
                [matMenuTriggerFor]="notificatioMenu" (click)="notificationService.markAsRead()">
                <mat-icon [matBadge]="notificationsCount()">notifications</mat-icon>

            </button>
            <mat-menu #notificatioMenu="matMenu" xPosition="before">
                <mat-list>
                    @for (notification of notification(); track notification.id; let last = $last) {
                    <mat-list-item>
                        <span matListItemTitle>{{ notification.title }}</span>
                        <span matListItemLine class="message">{{ notification.message }}</span>

                    </mat-list-item>
                    @if (!last) {
                        <mat-divider></mat-divider>
                    }
                    }
                </mat-list>
            </mat-menu>
            @if (user$().urlFotoPerfil ) {
            <div class="header-container__right--image">
                <img [src]="user$()?.urlFotoPerfil" alt="User Image" class="user-image">
            </div>
            }
            @if (user$().email ) {
            <div class="header-container__right--user">
                <p>{{ user$()?.nome }}</p>
                <span>Admin</span>
            </div>
            }
            <button mat-icon-button aria-label="Icone para abrir menu" [matMenuTriggerFor]="beforeMenu">
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>

            <mat-menu #beforeMenu="matMenu" xPosition="before">
                <button mat-menu-item (click)="navigateTo('/home/alterar-perfil')">
                    <mat-icon>manage_accounts</mat-icon>
                    Gerenciar conta</button>
                <button mat-menu-item (click)="navigateTo('/home/reset-password')">
                    <mat-icon>key</mat-icon>
                    Alterar a senha</button>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    Log out</button>
            </mat-menu>
        </div>
    </mat-toolbar>
</section>