<section class="reset-password">
    <div class="reset-password-header">
        <h2>Redefinir Senha</h2>
        <p>Insira sua nova senha.</p>
    </div>
    <form [formGroup]="formGroupResetPassword">
         <mat-form-field>
            <mat-label>Senha Antiga</mat-label>
            <input matInput type="password" formControlName="senhaAntiga">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nova Senha</mat-label>
            <input matInput type="password" formControlName="novaSenha">
        </mat-form-field>
       
    </form>
    <div class="reset-password-footer">
        <button mat-flat-button [disabled]="disabled" (click)="redefinirSenha()">
            <mat-icon>lock_reset</mat-icon>
            Redefinir Senha
        </button>
    </div>
</section>