// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use './theme-colors' as theme-colors;
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html {
  @include mat.theme((color: (theme-type: light,
        primary: theme-colors.$primary-palette,
        tertiary: theme-colors.$secondary-palette,
      ),
      typography: "Nunito Sans",
      density: 0));
  @include mat.autocomplete-overrides((background-color: #F5F6FA,
    ));

  @include mat.menu-overrides((
      item-icon-color: #4880FF,
      container-color: #FFFFFF,
      divider-color: #979797
    ));
}

html,
body,
main {
  height: 100vh;
}

body {
  margin: 0;
  font-family: "Nunito Sans", Roboto, sans-serif !important;
}

* {
  margin: 0;
  padding: 0;
}


.mat-mdc-card {
  background-color: #fff !important;
}
