// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use '../theme-colors' as theme-colors;

html {
  @include mat.theme((color: (theme-type: light,
        primary: theme-colors.$primary-palette,
        tertiary: theme-colors.$secondary-palette,
      ),
      typography: Roboto,
      density: 0));
  @include mat.autocomplete-overrides((background-color: #F5F6FA,
    ));

  @include mat.menu-overrides((
      item-icon-color: #4880FF,
      container-color: #FFFFFF,
      divider-color: #979797
    ));
}

html,
body,
main {
  height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}