// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use '../theme-colors' as theme-colors;

html {
  @include mat.theme((color: (theme-type: light,
        primary: theme-colors.$primary-palette,
        tertiary: theme-colors.$secondary-palette,
      ),
      typography: Roboto,
      density: 0));

}

html,
body,
main {
  height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.area-nao-logada__bg {
  background-color: #3F9D61;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  mat-card {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  mat-card-title,
  mat-card-subtitle {
    text-align: center;
  }

  mat-card-subtitle {
    opacity: 0.8;
  }

  mat-card-header {
    padding: 32px 16px;
  }

  mat-card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    button {
      width: 10vw;
      border-radius: 8px;
      opacity: 0.9;
    }

    .redirect {
      display: flex;
      width: 90%;
      gap: 8px;
      align-items: center;
      justify-content: flex-end;
      font-size: 14px;
    }

    a {
      color: #3F9D61;
      text-decoration-line: underline;
      text-decoration-style: solid;
      cursor: pointer;
    }

    a:hover {
      text-decoration-line: none;
    }
  }

  @include mat.card-overrides((subtitle-text-weight: 400,
      subtitle-text-size: 16px,
      subtitle-text-line-height: normal,
      title-text-size: 24px));
}