<section class="area-nao-logada__bg">
    <div class="area-nao-logada">
        <mat-card appearance="outlined">
            

            <mat-card-content class="not-found__content">
                <img src="shared/assets/404.svg" alt="404 Not Found" class="not-found__image">
                <h1 class="not-found__title">Página não encontrada</h1>
                <div class="area-nao-logada__button-container">
                    <button mat-flat-button (click)="backToHome()">Voltar para Home</button>
                </div>
            </mat-card-content>


        </mat-card>
    </div>
</section>